<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionstring" value ="Server=.\SQLExpress;AttachDbFilename=C:\Users\cc614670\Documents\Visual Studio 2012\Projects\BookingSampleApplication\BookingSampleApplication\AppData\SeatBooking.mdf;Database=SeatBooking;
Trusted_Connection=Yes;"/>
  </appSettings>
</configuration>